.tiles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
    width: 80rem;
    margin-right: auto;
    margin-left: auto;
}

.artist_tiles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
} 

.artist_tiles{
    margin: 25px;
    background-color:#f2f3f4;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    padding: 10px 7px 4px 7px;
    width: 250px;
    height: 400px;
    font-size: medium;
    text-align: center;
}

.artist_tiles img{
    width: 232px;
    height: 222px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.artist_tiles button{
    position: static;
    margin-left: 10px;
    margin-bottom: -10px;
}