*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
.html, body {
    height: 100%;
    min-width: 320px;
}
body {
    line-height: 1;
    background-color: #ede8f5;
    font-size: 20px;
    font-family: Poppins;
}

a {
    text-decoration: none;
}
li {
 list-style: none;
}

h1 {
    color: rgb(15, 5, 15);
    text-align: center;
    margin-top: 40px;
}
  

h2,
h3 {
    color: rgb(15, 5, 15);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

p,
ul{
    line-height: 2;
}

.menu-header,
.menu-footer{
    padding: 10px 20px 20px 0px;
    background-color: #FFFF;
}

.menu-header {
    height: 70px;
}

.menu-footer{
    box-shadow: 0 50vh 0 50vh;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 56px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.list-Item {
 color: rgba(18, 18, 18, 0.4);
 font-size: 25px;;
}
.list-Item:hover {
    text-decoration: underline;
}

.container-1{
    margin: 30px;
}

.container-2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.main-description{
    margin-top: 40px;
    margin-bottom: 10px;
}

#artists,
#artists option {
    width: 600px;
    text-align: center;
    padding: 16px;
    overflow-y: visible;
    font-size: 20px;
}

#welcome,
#how-it-works, 
#about-us, 
#our-values,
#purchase-text{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: justify;
    font-size: large;
}

.services,
.services-related{
    margin-top: 50px;
}

.paymentForm{
    margin-top: 40px;
}

#services-popular-images,
#services-related-images,
.review{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}   

#services-related-images img{
    padding: 15px;
    width: 400px; 
    height: 250px;
}

.review{
    margin-bottom: 70px;
}

.review p img{
    width: 28px;
    height: 28px;
    margin-bottom: 10px;
}

#services-popular-images img,
.artists-list img{
    padding: 15px;
    width: 250px; 
    height: 250px;
}

.review p {
    margin: 25px;
    background-color:#f2f3f4;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    padding: 10px 20px 20px 20px;
    width: 250px;
    height: 300px;
    text-align: left;
    font-size: medium;
    line-height: 1.1;
}

.questions-comments{
    margin-top: 40px;
    text-align: center;
    font-size: large;
}

#artist-image{
    float: left;    
    margin: 0 1rem 0 0;
}

.artists-list,
.artists-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-size: large;
}

.artists-list li{
    padding: 16px; 
    text-align: justify; 
    width: 1000px;
    list-style-type: none;
}

#view-offers{
    margin: 0 0 0 2rem;
    border-radius: .25rem;
    align-self: center;
    padding: 2rem;
    background-color: #748D92;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
}
 
#about-us,
#our-values{
    justify-content: center;
    align-items: center;
    padding: 1rem; 
    text-align: justify; 
    width: 60rem;
    list-style-type: none;
}

.provided-services,
.selected-services {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #141414;
    margin-top: 40px;
    font-size: larger;
} 

.provided-services th,
.selected-services th{
    width: 300px;
} 

.selected-services tr{
    height: 70px;
}

td{
    height: 30px;
    text-align: center;
} 

th, td{
    vertical-align: top;
}

#tableHeader{
    font-size: 1.5rem;
    height: 5rem;
}

#add-to-cart{
    margin: 0 0 0 2rem;
    border-radius: .5rem;
    align-self: center;
    padding: 1rem;
    background-color: #121414;
    color: white;
    padding: .25rem .5rem;
    text-align: center;
    white-space: nowrap;
    font-size: .75rem;
}

#view-offers:hover,
#add-to-cart:hover,
#pay-for-order:hover,
#pay-total-amount:hover{
    opacity: 0.5;
}

#pay-for-order,
#pay-total-amount{
    display: block;
    margin: auto;
    margin-top: 40px;
    border-radius: .25rem;
    align-self: center;
    padding: 2rem;
    background-color: #748D92;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    white-space: nowrap;
    font-size: 1.5rem;
}

.quantity input{
    width: 3rem;
    padding: .3em;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 900;
    background:white;
    border: none;
 }

#pay-total-amount{
    width: 20rem;
} 

#nameOnCard,
#cardNumber {
    display: block;
    width: 528px;
    height: 64px;
    margin: auto;
    margin-bottom: 15px;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 20px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap input{
    height: 64px;
    width: 262px;
    margin: 2px;
    margin-bottom: 15px;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 20px;
    border-radius: 5px;
}

.select,
#nameOnCard,
#cardNumber, 
.quantity input,
#artists option {
    border-radius: 5px;
}